body {
    background: gray;
}

.cabecalho {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;    
}

.btn-link {
    border-radius: 10px;
    display: flex;
    align-items: center;
}