body {
    background: gray;
}

.logo-icone {
    display: none;
}

/* Estilos para telas menores que 600px */

@media (max-width: 600px) {
    .logo-completa {
        display: none;
    }
    .logo-icone {
        display: block;
    }
}

.cabecalho {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.links {
    display: flex;
}

.btn-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    border: 0cap;
    background: white;
    padding: 10px 10px;
}

.btn-link > a {
    text-decoration: none;
}